<!--<!DOCTYPE html>-->

<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>Регистрация</title>-->

<!--</head>-->

<!--<body>-->
<!--<div>-->
<!--    <h1>Добавление юзера</h1>-->
<!--    <form action="registration/add" method="post" modelAttribute="userForm">-->
<!--        <input type="text" name="username" placeholder="Username" class="form-control"><br>-->
<!--        <input type="text" name="password" placeholder="Password" class="form-control"><br>-->
<!--        <textarea  name="password" placeholder="PasswordConfirm" class="form-control"></textarea><br>-->
<!--        <button type="submit" class="btn btn-success">Регистрация</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->



